.api_container
  %h3= link_to "TV Today API", api_index_path
  %h1 Show List
  - if @admin
    = link_to "Add a Show", new_path
  
  %strong.count Show Count: #{@shows.count}

  #show-container
    - @shows.each do |show|
      %p 
        = link_to show.name, tvdbid_path(show.tvdbId, :format => :json)