#landing_page
  #column_one
    #logo_container
      = image_tag('logo.png', id: 'logo')
      %h1 TV TODAY
      %h2 mac app

    #install_container
      .tag
        You tell us what.
        We'll tell you when.

      %a#app_store_button{ href: 'https://itunes.apple.com/us/app/tv-today/id958363205?ls=1&mt=12', onclick: "ga('send', 'event', 'button', 'click', 'app store', 1);" } 
        install on the app store

  #column_two
    .banner
      %ul
        %li= image_tag('first.png')
        %li= image_tag('second.png')
        %li= image_tag('third.png')

  #footer
    Follow
    %a{ href: 'http://twitter.com/TVTodayWidget', onclick: "ga('send', 'event', 'button', 'click', 'twitter', 1);" } @TVTodayWidget
    on Twitter - A
    %a{ href: 'http://20dots.com' } 20 Dots
    app