// Place all the styles related to the api controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.session {
  margin-top: -20px;
  float: right;
}

.wrap {
  background-color: #141314;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
}
.api_container {
  max-width: 1000px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  
  a {
    color: #0095e5;
  }

  a:hover {
    color: #43b8f2;
  }

  h3 {
  font-weight: 100;
  margin: 0px;
  margin-top: 10px;
  font-size: 18pt;
  letter-spacing: 6px;
  color: #606060;
  }

  h1 {
    color: #b7d8e8;
    margin-bottom: 20px;
  }
}

.count {
  float: left;
  width: 100%;
  margin: 20px 0px;
  font-size: 26px;
}

#show-container {
  -webkit-column-count: 4;
  width: 100%;
  margin: 20px 0px 20px 0px;

  a {
    color: #eaeaea;
  }

  a:hover {
    color: white;
  }
}